name: "Terragrunt GitHub Actions"
on:
  pull_request:
  push:
    branches:
      - main

env:
  tofu_version: "latest"
  tg_version: "latest"
  working_dir: "."

  HCP_CLIENT_ID: ${{secrets.HCP_CLIENT_ID}}
  HCP_CLIENT_SECRET: ${{secrets.HCP_CLIENT_SECRET}}
  HCP_VAULT_APP_NAME: ${{secrets.HCP_VAULT_APP_NAME}}
  CLOUDFLARE_R2_ACCESS_KEY: ${{secrets.CLOUDFLARE_R2_ACCESS_KEY}}
  CLOUDFLARE_R2_SECRET_KEY: ${{secrets.CLOUDFLARE_R2_SECRET_KEY}}
  CLOUDFLARE_R2_ENDPOINT: ${{secrets.CLOUDFLARE_R2_ENDPOINT}}

  TF_PLUGIN_CACHE_DIR: ${{ github.workspace }}/.terraform.d/plugin-cache

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@main
      - name: Create Terraform Plugin Cache Dir
        run: mkdir -p $TF_PLUGIN_CACHE_DIR

      - name: Terraform Plugin Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-terraform-plugin-cache-default
  plan:
    runs-on: ubuntu-latest
    needs: [checks]
    steps:
      - name: "Checkout"
        uses: actions/checkout@main

      - name: Restore Terraform Plugin Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-terraform-plugin-cache-default

      - name: Plan
        uses: gruntwork-io/terragrunt-action@v2
        env:
          TF_PLUGIN_CACHE_DIR: /github/workspace/.terraform.d/plugin-cache
        with:
          tofu_version: ${{ env.tofu_version }}
          tg_version: ${{ env.tg_version }}
          tg_dir: ${{ env.working_dir }}
          tg_command: "run --all plan"

      - name: Save Terraform Plugin Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-terraform-plugin-cache-default

  deploy:
    runs-on: ubuntu-latest
    needs: [plan]
    if: github.ref == 'refs/heads/main'
    steps:
      - name: "Checkout"
        uses: actions/checkout@main

      - name: Restore Terraform Plugin Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-terraform-plugin-cache-default

      - name: Deploy
        uses: gruntwork-io/terragrunt-action@v2
        env:
          TF_PLUGIN_CACHE_DIR: /github/workspace/.terraform.d/plugin-cache
        with:
          tofu_version: ${{ env.tofu_version }}
          tg_version: ${{ env.tg_version }}
          tg_dir: ${{ env.working_dir }}
          tg_command: "run --all apply"

      - name: Save Terraform Plugin Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.TF_PLUGIN_CACHE_DIR }}
          key: ${{ runner.os }}-terraform-plugin-cache-default
